body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #b5dafc;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container {
  max-width: 420px;
  margin: 50px auto;
  padding: 25px;
  background: #f39696;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  text-align: center;
}

h1 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.search-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background: #007bff;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background: #f08686;
}

.weather-card {
  margin-top: 20px;
  padding: 15px;
  background: #f7f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.error {
  color: red;
  margin-top: 10px;
}
